<app-navbar></app-navbar>
<div style="display:flex; flex-flow: row nowrap;">
    <div style="height: 100vh; width: 50vw; display: flex;">
        <div class="button-container">
            <button mat-button style="width: 25vw; height: 7vh;border-radius: 20px; background-color: #E4E2FF; margin: 2vh " (click)="goToViewCurriculumPage()"> View Curriculum </button>
            <button mat-button style="width: 25vw; height: 7vh;border-radius: 20px; background-color: #E4E2FF; margin: 2vh " (click)="goToViewCoursesforStudent()"> View Your Courses </button>
            <button mat-button style="width: 25vw; height: 7vh;border-radius: 20px; background-color: #E4E2FF; margin: 2vh " (click)="goToEnrollPage()"> Enroll to a year </button>
            <button mat-button style="width: 25vw; height: 7vh;border-radius: 20px; background-color: #E4E2FF; margin: 2vh " (click)="goToOptionalPage()"> Choose Optional Courses </button>
            <button mat-button style="width: 25vw; height: 7vh;border-radius: 20px; background-color: #E4E2FF; margin: 2vh " (click)="goToAssignedOptionalsPage()"> View Assigned Optionals </button>
            <button mat-button style="width: 25vw; height: 7vh;border-radius: 20px; background-color: #E4E2FF; margin: 2vh " (click)="goToContractPage()"> Sign Contract </button>
            <button mat-button style="width: 25vw; height: 7vh;border-radius: 20px; background-color: #E4E2FF; margin: 2vh " (click)="goToGradePage()"> Consult Grades </button>
        </div>
    </div>
    <div style="height: 100vh; width: 50vw; display: flex">
        <img style="width: 50vw; height:100vh" src="assets/images/girl_with_degree.png">
    </div>
</div>

        
