
  mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
  }
  
  .header{
    text-align: center;
  
  }
  .full-width {
      
    width: 80%;
  }
  
 .usernameInput{
    padding-top: 10px;
  }
  
//   .contentBody {
//     padding: 60px 1rem;
//     background :#1b6ca8;
//     display: block;
//   }
  
 