// button {
//   width: 200px;
//   height: 200px;
// }
.content-body {
    width: 100%;
    height: 46.15vw;
    position: relative;
    overflow:hidden;
    display: block;
    background-image: url("./Pages/login-page/loginPageImages/backgroundLogin.jpg");
 
  }