.container {
    width: 100%;
    height:100%;
    display:flex;
    background-color: #E5E5E5;
}
.left-comp {
    height: 100%;
    width:30%;
    background-image: url("/assets/images/backgroundLogin.jpg");
    display: flex;
    justify-content: center;
}

.mat-card {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: 20px;
    border-radius: 50%;
}

.mat-card-image {
    width: 170px;
    height: 200px;
    margin: auto;
}

.background {
    background-color: rgb(208, 184, 231);
    width: 100%;
    height: 94vw;
    margin:20px;
    float: right;
}

.buttons {
    display: flexbox;
    flex-direction: row;
    flex-grow: 1;
    position: absolute;
    top: 500px;
}

@media (max-width: 1200px) {
    .buttons {
        flex-direction: column;
    }
    .mat-card{
        visibility: hidden;
    }
}

.mat-button {
    background-color: white;
    float: left;
    margin: 10px;
    flex: 1;
}

.form-container{
    margin-left: 15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}