<!-- <div class="background-sidebar"> 
    <mat-card class="profile-card">
        <img mat-card-image src="assets\images\owl.png" alt="Photo of a Shiba Inu">
    </mat-card>
</div> -->
<app-navbar>
    
</app-navbar>
<mat-card class="profile-card">
    <img mat-card-image src="assets\images\owl.png" alt="Photo of a Shiba Inu">
    
</mat-card>

<div class="buttons">
    <a mat-button>Update Details</a>
    <a mat-button>Change Photo</a>
    <a mat-button>Save Changes</a>
</div>

<div class = background>
    
    
</div>



<app-sidebar> </app-sidebar>
