<!-- <div class="background-sidebar"> 
    <mat-card class="profile-card">
        <img mat-card-image src="assets\images\owl.png" alt="Photo of a Shiba Inu">
    </mat-card>
</div> -->
<app-navbar>
</app-navbar>
<mat-card class="profile-card" fxFlex.gt-sm="70">
    <img mat-card-image src="assets\images\owl.png" alt="Photo of a Shiba Inu">
</mat-card>

<div class="background">
    <div class="form-container">
        <form [formGroup]="personalInformationForm">
            <mat-form-field id="id" appearance="outline">
                <mat-label>ID</mat-label>
                <input matInput name="id" formControlName="id" [disabled]="true">
            </mat-form-field>
        </form>
    </div>
</div>

<app-sidebar> </app-sidebar>