<h2>Search Students</h2>

<form [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Group</mat-label>
        <mat-select formControlName="group">
            <mat-option [value]="'1'">912</mat-option>
            <mat-option [value]="'2'">913</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Mean</mat-label>
        <input formControlName="mean" matInput>
    </mat-form-field>

    <div>
        <mat-checkbox formControlName="erasmus">Erasmus Student</mat-checkbox>
    </div>

    <div class="clear-container">
        <button mat-flat-button (click)='clearForm()' color='warn'>Clear</button>
    </div>

</form>

<app-student-component [students]="students"></app-student-component>