<div *ngFor="let student of students; let index = index" class="student-container">
    <div class="info-button">
        <div class="info">
            <div>
                {{index + 1}}. {{student.name}}
            </div>
            <div>
                Year of study: {{student.studyYear}}
            </div>
            <div>
                Mean: {{student.mean}}
            </div>
        </div>
        <div><button mat-raised-button color="primary" (click)="removeStudent(index)">Remove</button></div>
    </div>  
</div>
